a{
    color: white;
    /* padding-left: 10px; */
    /* font-size: .30px; */
    margin-left: 2rem; 
}
img{
    height: 60px;
    width: 200px;
}
.form{
margin-left: 40px;

}
div input{
    height: 40px;
    width: 400px;
    border-radius: 5px;
}
button{
    background-color: red;
    color:#ffff;
    height: 50px;
    width: 400px;
    padding-left: 20px;
    border-radius: 5px;
}
 .body {
    margin: 120px;
}
.line{
    border-top: 1px solid gray;

}

