body{
	
	background-image: url("https://preview.redd.it/how-can-someone-make-this-background-with-html-and-css-i-v0-zjgs096khv591.jpg?auto=webp&s=9659527da9196c27a8875200b41d20a8e901c341");
}

h1{
	top: 40%;
	color: white;
	font-size: 32px;
	font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
	position: relative;
	align-items: center;
	justify-content: center;
}
img{
	height: 25px;
	width: 80px;
	background-position: left;
}


div{
	transform: 
	 height: 150px;
	top: 50%;
	left: 50%;
	width:	 150px;
	position: relative;
	align-items: center;
	justify-content: center;
    border: solid;
    padding: 100px;
    text-align: center;
	color: red;
}

button{
	transform: 
	background-position: bottom ;
	background-color: red;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


#button:hover{
	background-color: lightblue;
	border: solid;
}

#button:active{
	background-color: blue;
}