body{
    background-color: #000;
}

video{
    box-shadow: rgb(171, 45, 45);

    width: 50%;
    height: 60%;
    border-radius: 1rem;
    margin-top :10%;    
    margin-left: 25.5%;
    }

.b2{
    margin-left: 70%;
}
